.btnStart{
   position: relative;
   width: 300px;
   height: 75px;  
}

#formPlayer{
    position: relative;
    width: 300px;
   height: 75px;
   display: none;
}


.formStats{
    position: relative;
    width: 300px;
}

.formStats>h3{
    text-align: center;
}